<script src="main.js"></script>
<link rel="stylesheet" href="Starter.css"></link>
<body>
<div class="poll">
    <div class="poll__title">WHich hero do you prefer</div>
    <div class="poll__option">
        <div class="poll__option__fill"></div>
        <div class="poll__option__info"></div>
        <span clas="poll__label">IchigoKurosaki</span>
        <span class="poll__label">0</span>
    </div>
    <div class="poll__option__selected1">
        <div class="poll__option__fill"></div>
        <div class="poll__option__info"></div>
        <span clas="poll__label">GonFreeces</span>
        <span class="poll__label">0</span>
    </div>
    <div class="poll__option__selected2">
        <div class="poll__option__fill"></div>
        <div class="poll__option__info"></div>
        <span clas="poll__label">YujiItadori</span>
        <span class="poll__label">0</span>
    </div>
</div>
</body>